---
import { Image } from "astro:assets";
import Me from "../assets/me.png";
---

<div class="w-[100px] h-[100px] overflow-hidden rounded-full">
  <Image src={Me} alt="Antonin" quality={100} />
</div>
