<div class="flex items-center justify-between mt-24 text-sm text-neutral-400">
  <p>© 2023 Antonin PIRE. All rights reserved.</p>
  <a
    class="border-b-neutral-400 border-b"
    href="https://github.com/antoninpire/portfolio"
    target="_blank"
    rel="noreferrer"
  >
    source code
  </a>
</div>
