<div class="flex items-center justify-between mt-24 text-sm text-neutral-400">
  <div class="flex flex-col md:flex-row gap-1">
    <p>© 2023 Antonin PIRE.</p>
    <p class="ml-4 md:ml-0">All rights reserved.</p>
  </div>
  <a
    class="border-b-neutral-400 border-b whitespace-nowrap"
    href="https://github.com/antoninpire/portfolio"
    target="_blank"
    rel="noreferrer"
  >
    source code
  </a>
</div>
