<h1 class="dark:text-neutral-400 text-neutral-500 leading-[25px] mt-10">
  Hi, I am <span class="font-medium dark:text-white text-black"
    >Antonin PIRE</span
  >
</h1>
<p class="dark:text-neutral-400 text-neutral-500 leading-[25px] mt-8">
  I am a full-stack developer based in Paris with a passion for building digital
  solutions and coding.
</p>
<p class="dark:text-neutral-400 text-neutral-500 leading-[25px] mt-4">
  I am eager to learn new things, and already taught myself a lot of
  technologies / frameworks.
</p>
<p class="dark:text-neutral-400 text-neutral-500 leading-[25px] mt-4">
  I am always open to new opportunities in France or abroad. Currently, I am
  working as the Chief Technical Officer of a startup called <a
    href="https://tcheker.fr/"
    target="_blank"
    rel="noreferrer"
    class="text-neutral-700 dark:text-neutral-400 dark:border-b-neutral-400 border-b-neutral-700 border-b"
    >Tcheker</a
  >.
</p>
<p class="dark:text-neutral-400 text-neutral-500 leading-[25px] mt-4">
  I also recently launched my first personal project called <a
    href="https://sinta.app/"
    target="_blank"
    rel="noreferrer"
    class="text-neutral-700 dark:text-neutral-400 dark:border-b-neutral-400 border-b-neutral-700 border-b"
    >Sinta</a
  >, a mobile app made for couples.
</p>
